html, body, #container {
    margin: 0;
    padding: 0;
    height: 100%;
}
body > #container {
    height: auto;
    min-height: 100%;
    color: #444;
    background: #efefea;
}
body {
    font: .8em/normal 'Ubuntubeta', 'Ubuntu', 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
    color: #444;
    background: #efefea;
}
#content {
    width: 70%;
    margin: 0 auto;
    padding: 0 0 4em 0;
}
#footer {
    clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
    background-color: #ddd;
    color: #444;
    text-align: center;
    line-height: 3em;
}
#header {
    height: 80px;
    color: #fff;
    background: #444;
    padding: 0 15%;
    border-top: 5px solid #73c167;
}
#header a {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    color: #fff;
    background-color:  #73c167;
    text-decoration: none;
}
#header a:hover {
    background-color: #eee;
    color: #444;
}
a:link, a:hover, a:focus {
    color: #73c167;
}
a:visited {
    color: #444;
}
h1 {
    font-size: 1.4em;
    border-bottom: 1px solid #73c167;
    width: 20em;
}
h2 {
    clear: left;
    font-size: 1.0em;
    border-bottom: 1px solid #73c167;
    width: 30em;
}
p {
    margin-bottom: 1em;
}
strong {
    color: #444;
    font-weight: bold;
}
ul {
    margin: 0.2em;
}
li {
    margin: 0.2em;
}
table {
    float: left;
    margin: 1em;
    border: 0px;
    min-width: 40%;
}
th {
    padding: 0.4em;
    background: #73c167;
    color: #fff;
}
td {
    padding: 0.4em;
    background: #fafafa;
    color: #444;
}
form input {
    margin: 2px;
    padding: 2px;
    background: #fafafa;
    border: 1px solid #73c167;
}
fieldset {
    background: #ddd;
    float: right;
    padding: 1em;
    margin: 1em;
    border: 0px;
    border-left: 5px solid #73c167;
}
label {
    display: block;
}
input.text {
    width: 100%;
}
legend {
    margin-top: 2em;
    font-size: 1.2em;
    color: #73c167;
}
